<!DOCTYPE html>
<head>
  <title>About</title>
</head>
  <body>
    <h1><center>ABout</center></h1>
    <h5>THis is me Dhanraj Kirgat creator of this page
      and i would love to show u guys how i did
      Just stay tuned with me .
      i used some django tutorial to create this page
      um the stuff it does is pretty basic ,
       it generates password for u depending upon
      your need and u can use it
      So go oon its free and use it
    </h5>
<a href = "{% url 'homie' %}" class = "btn btn-alert">Home</a>
  </body>
